.navigation {
  margin: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  background-color: #F4EFE9;
  font-size: 18px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.first-part {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding: 0;
}

.logo {
  height: 112px;
  padding: 0;
}

.title-nao {
    list-style: none;
    display: flex;
    align-items: center;
    width: 50%;
    text-decoration: none;
    color: black;
    margin-right: 30px;
    cursor: pointer;
}

.second-part {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.second-part:hover {
  cursor: pointer;
  color: green;
}

.li {
  margin-right: 30px;
  cursor: pointer;
  }